body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
    color: #333;
}

.btn{
    text-decoration:none;
    color:white;
    weight:bold;
}
a{
    text-decoration:none;
    color:white;
    weight:bold;
}

.anketa-lista li{
    display:flex;
    justify-content:space-around;
    align-items: center;
}


.index{
    margin:200;
    padding:200;
    background-color:#f3f5f1;
    border-radius:8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.container {
    width: 70%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
}

nav {
    background-color: #2c3e50;
    padding: 12px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


h1, h2, h3 {
    color: #2c3e50;
}


form {
    margin-top: 15px;
}

input[type="text"],
input[type="date"] {
    width: 60%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


input[type="radio"] {
    margin-right: 8px;
}


button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-decoration:none;
    color:white;
    weight:bold;
}

button:hover {
    background-color: #2980b9;
}


ul {
    list-style: none;
    padding: 0;
}
ul li:hover{
    transform: scale(1.02);
}

ul li {
    background-color: #ffeaa7;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    transition: transform 0.25s ease;
}


.result {
    margin-bottom: 8px;
}


.ai-box {
    background-color: #ecf0f1;
    padding: 15px;
    border-left: 4px solid #3498db;
    margin-top: 15px;
    border-radius: 4px;
}